:root {
  /* primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /* graphic design text */
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  /* photography text */
  --darkBlue: hsl(198, 62%, 26%);
  /* footer */
  --darkModerateCyan: hsl(168, 34%, 41%);

  /* neutral */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* font size=18px*/
  --fraunces: "Fraunces", serif;
  --barlow: "Barlow", sans-serif;
}

html {
  font-size: 18px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  min-height: 30rem;
  /* width: 100%; */
  background-image: url("./images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header nav {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}

header nav > ul {
  display: none;
}

header > h1 {
  color: var(--white);
  text-align: center;
  font-family: var(--fraunces);
  letter-spacing: 4px;
  margin-top: 74px;
  margin-bottom: 48px;
}

@keyframes arrow-updown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-45px);
  }
}

header .arrow-down-img {
  text-align: center;
  animation: arrow-updown 2s ease-in-out infinite both;
}

.info {
  text-align: center;
}

.info article picture > img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.info article div > h2 {
  font-family: var(--fraunces);
  font-weight: 900;
  width: 80%;
  margin: 60px auto 26px auto;
}

.info article div > p {
  font-family: var(--barlow);
  color: var(--darkGrayishBlue);
  width: 85%;
  margin: auto;
}

.learn-more {
  font-family: var(--fraunces);
  margin: 30px auto 0 auto;
  text-transform: uppercase;
}

.egg-underline {
  width: 40%;
  margin: -10px auto 48px auto;
  border-top: 14px solid hsla(51, 88%, 66%, 0.35);
  border-radius: 10px;
}

.stand-out-underline {
  width: 40%;
  margin: -10px auto 48px auto;
  border-top: 14px solid hsla(7, 99%, 70%, 0.35);
  border-radius: 10px;
}

/* https://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling */
.learn-more:hover + .egg-underline {
  border-top: 14px solid var(--yellow);
}

.learn-more:hover + .stand-out-underline {
  border-top: 14px solid var(--softRed);
}

.features article div > h3 {
  width: 85%;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  font-family: var(--fraunces);
  font-weight: 900;
}

.features article div > p {
  width: 85%;
  margin: auto;
  text-align: center;
  font-family: var(--barlow);
}

.features .graphic {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  min-height: 30rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--darkDesaturatedCyan);
  position: relative;
}

.features .graphic > div {
  position: absolute;
  top: 65%;
}

.features .photography {
  background-image: url("./images/mobile/image-photography.jpg");
  min-height: 30rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--darkBlue);
  position: relative;
}

.features .photography > div {
  position: absolute;
  top: 65%;
}

.testimonials {
  width: 90%;
  margin: auto;
  text-align: center;
}

h4 {
  font-family: var(--fraunces);
  text-transform: uppercase;
  margin-top: 52px;
  margin-bottom: 52px;
  color: var(--grayishBlue);
  letter-spacing: 3px;
  text-align: center;
}

.testimonials > article {
  margin-bottom: 52px;
}

.testimonials article > img {
  border-radius: 50%;
}

.testimonials .testimony {
  margin-top: 28px;
  margin-bottom: 32px;
  font-family: var(--barlow);
  color: var(--darkGrayishBlue);
}

.testimonials article .name {
  font-family: var(--fraunces);
  color: var(--veryDarkDesaturatedBlue);
  margin-bottom: 0;
}

.testimonials article .job {
  font-family: var(--barlow);
  color: var(--grayishBlue);
  font-size: 14px;
  margin-top: 8px;
}

.photos div {
  display: flex;
}

.photos div picture img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

footer {
  background-color: hsl(168, 46%, 61%);
  text-align: center;
}

footer > img {
  margin-top: 52px;
  margin-bottom: 36px;
}

footer .footer-links {
  display: flex;
  font-family: var(--barlow);
  font-size: 16px;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 68px;
  color: var(--darkModerateCyan);
}

footer .socials {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

@media only screen and (min-width: 1024px) {
  header {
    min-height: 48.75rem;
    background-image: url("./images/desktop/image-header.jpg");
  }

  header nav {
    padding: 24px 30px;
  }

  header nav #img-hamburger {
    display: none;
  }

  header nav > ul {
    width: 30%;
    font-family: var(--barlow);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 15px;
  }

  header nav ul > li {
    cursor: pointer;
    opacity: 0.8;
  }

  header nav ul .contact {
    opacity: 1 !important;
    font-family: var(--fraunces);
    color: black;
    font-size: 16px;
    background-color: white;
    padding: 12px;
    border-radius: 24px;
  }

  header nav ul li:hover {
    color: white;
    opacity: 1;
  }

  header nav ul .contact:hover {
    color: white;
    background-color: hsla(0, 0%, 100%, 0.3);
  }

  header > h1 {
    margin-bottom: 36px;
    font-size: 48px;
  }

  header .arrow-down-img {
    margin-top: 120px;
  }

  .info {
    text-align: left;
  }

  .info article picture {
    width: 50%;
  }

  .info article picture > img {
    width: 100%;
    object-fit: cover;
  }

  .info article div > h2 {
    margin: 0;
    margin-bottom: 36px;
    font-size: 32px;
  }

  .info article div > p {
    line-height: 1.5;
    margin: 0;
  }

  .info .egg {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .info .egg .egg-content {
    width: 35%;
    margin-left: 150px;
  }

  .info .stand-out {
    display: flex;
    align-items: center;
  }

  .info .stand-out .stand-out-content {
    width: 35%;
    margin-left: 70px;
  }

  .learn-more {
    margin: 40px 0 0 0;
    cursor: pointer;
  }

  .egg-underline {
    width: 26%;
    margin: -10px 0 48px -5.5px;
    border-radius: 10px;
  }

  .stand-out-underline {
    width: 26%;
    margin: -10px 0 48px -5.5px;
    border-radius: 10px;
  }

  .features article div > h3 {
    width: 55%;
    margin-bottom: 32px;
  }

  .features article div > p {
    width: 55%;
  }

  .features .graphic {
    max-width: 50%;
    background-image: url("./images/desktop/image-graphic-design.jpg");
    float: left;
  }

  .features .graphic > div {
    position: relative;
    top: 350px;
  }

  .features .photography {
    background-image: url("./images/desktop/image-photography.jpg");
    max-width: 50%;
    background-position: center;
    float: right;
  }

  .features .photography > div {
    position: relative;
    top: 350px;
  }

  .testimonials {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
  }

  h4 {
    position: relative;
    top: 152px;
  }

  .testimonials > article {
    margin-top: 168px;
    margin-bottom: 152px;
    margin-right: 30px;
  }

  .testimonials article > img {
    width: 20%;
    border-radius: 50%;
  }

  .photos {
    display: flex;
  }

  footer .footer-links {
    width: 40%;
    margin: auto;
    margin-bottom: 68px;
  }

  footer .socials {
    width: 20%;
  }
}
