:root {
  /* colors */
  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --textSpartan: "Spartan", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* https://www.w3schools.com/css/css3_backgrounds.asp */
  background: url("./images/bg-pattern-top-mobile.svg") left top no-repeat,
    url("./images/bg-pattern-bottom-mobile.svg") right bottom no-repeat;
  font-family: var(--textSpartan);
}

.container {
  width: 90%;
  margin: 78px auto;
}

.container__upper {
  text-align: center;
}

.container__upper .container__upper__left > h1 {
  line-height: 1;
  color: var(--veryDarkMagenta);
}

.container__upper > p {
  font-size: 15px;
}

.container__upper__para {
  line-height: 1.5;
  margin-top: 18px;
  margin-bottom: 40px;
  color: var(--darkGrayishMagenta);
}

.container__upper__stars {
  width: 90%;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: var(--lightGrayishMagenta);
}

.container__upper__stars__para {
  font-weight: 700;
  color: var(--veryDarkMagenta);
}

.container__reviews {
  margin-top: 48px;
}

.container__reviews__review {
  padding: 40px 30px 30px 34px;
  background-color: var(--veryDarkMagenta);
  margin-bottom: 16px;
  border-radius: 10px;
}

.container__reviews__review__user {
  display: flex;
}

.container__reviews__review__user > img {
  border-radius: 50%;
}

.container__reviews__review__user__info {
  margin-left: 26px;
  font-weight: 700;
}

.container__reviews__review__user__info > p:nth-child(1) {
  color: var(--white);
}

.container__reviews__review__user__info > p:nth-child(2) {
  color: var(--softPink);
}

.container__reviews__review > p {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--white);
  line-height: 1.5;
}

.attribution {
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin: auto;
    margin-top: 126px;
  }

  .container__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container__upper .container__upper__stars {
    display: block;
  }

  .container__upper .container__upper__left {
    text-align: left;
    width: 45%;
  }

  .container__upper .container__upper__left > h1 {
    font-size: 42px;
    width: 70%;
  }

  .container__upper .container__upper__left > p {
    margin-top: 10px;
    width: 100%;
  }

  .container__upper__right {
    width: 55%;
  }

  .container__upper__right .container__upper__stars {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px;
  }

  .container__upper__right .container__upper__stars:nth-child(1) {
    margin-left: 0;
  }

  .container__upper__right .container__upper__stars:nth-child(3) {
    margin-right: 0;
  }

  .container__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  .container__reviews .container__reviews__review {
    width: 32.5%;
  }

  .container__reviews .container__reviews__review:nth-child(1) {
    margin-top: -48px;
  }

  .container__reviews .container__reviews__review:nth-child(3) {
    margin-top: 48px;
  }
}
