.creations {
  width: 95%;
  margin: auto auto 7.75rem;
  font-family: $josefinSans;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
  }

  &__div {
    background-size: cover;

    p {
      text-transform: uppercase;
      font-size: 2rem;
      color: $white;
      padding: 3.75rem 1.25rem 1.25rem 1.25rem;
      width: 52%;
    }
  }

  &__deep-earth {
    background-image: url("../../images/mobile/image-deep-earth.jpg");
  }

  &__night-arcade {
    background-image: url("../../images/mobile/image-night-arcade.jpg");
  }

  &__soccer-team {
    background-image: url("../../images/mobile/image-soccer-team.jpg");
  }

  &__the-grid {
    background-image: url("../../images/mobile/image-grid.jpg");
  }

  &__pocket {
    background-image: url("../../images/mobile/image-pocket-borealis.jpg");
  }

  &__curiosity {
    background-image: url("../../images/mobile/image-curiosity.jpg");
  }

  &__fisheye {
    background-image: url("../../images/mobile/image-fisheye.jpg");
  }

  &__button {
    text-transform: uppercase;
    font-family: $alata;
    letter-spacing: 4px;
    border: 2px solid black;
    padding: 6px;
    width: 40%;
    margin: auto;
    text-align: center;
  }
}
