.creations {
  width: 95%;
  margin: auto auto 7.75rem auto;
  font-family: $josefinSans;

  @include breakpoint-up(large) {
    width: 85%;
  }

  &__desktop-heading {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      font-weight: 100;

      @include breakpoint-up(large) {
        font-size: 3rem;
      }
    }

    &__see-all {
      visibility: hidden;

      @include breakpoint-up(large) {
        visibility: visible;
        text-transform: uppercase;
        font-family: $alata;
        letter-spacing: 4px;
        border: 2px solid black;
        padding: 0.5rem 1.25rem;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: black;
          color: white;
          transition: 100ms ease-in-out;
        }
      }
    }
  }

  &__creation-list {
    &__div {
      position: relative;
      height: 9.375rem;
      background-size: cover;
      margin-bottom: 3rem;
      cursor: pointer;
      color: $white;

      @include breakpoint-up(large) {
        height: 27.625rem;
        width: 16.25rem;
      }

      p {
        text-transform: uppercase;
        font-size: 1.5rem;
        width: 50%;
        position: absolute;
        bottom: 3%;
        left: 5%;

        @include breakpoint-up(large) {
          left: 7%;
        }
      }

      &:hover {
        transition: 100ms ease-in-out;
        box-shadow: inset 0 0 0 1000px hsla(0, 0%, 55%, 0.7);
        color: $black;
      }
    }

    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 50% 50%;
      justify-items: center;
      justify-content: space-between;
      grid-template-areas:
        "deep-earth night-arcade soccer-team the-grid"
        "up-above pocket curiosity fisheye";
    }
  }

  &__deep-earth {
    background-image: url("../../images/mobile/image-deep-earth.jpg");
    grid-area: deep-earth;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-deep-earth.jpg");
    }
  }

  &__night-arcade {
    background-image: url("../../images/mobile/image-night-arcade.jpg");
    grid-area: night-arcade;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-night-arcade.jpg");
    }
  }

  &__soccer-team {
    background-image: url("../../images/mobile/image-soccer-team.jpg");
    grid-area: soccer-team;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-soccer-team.jpg");
    }
  }

  &__the-grid {
    background-image: url("../../images/mobile/image-grid.jpg");
    grid-area: the-grid;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-grid.jpg");
    }
  }

  &__up-above {
    background-image: url("../../images/mobile/image-from-above.jpg");
    grid-area: up-above;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-from-above.jpg");
    }
  }

  &__pocket {
    background-image: url("../../images/mobile/image-pocket-borealis.jpg");
    grid-area: pocket;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-pocket-borealis.jpg");
    }
  }

  &__curiosity {
    background-image: url("../../images/mobile/image-curiosity.jpg");
    grid-area: curiosity;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-curiosity.jpg");
    }
  }

  &__fisheye {
    background-image: url("../../images/mobile/image-fisheye.jpg");
    grid-area: fisheye;

    @include breakpoint-up(large) {
      background-image: url("../../images/desktop/image-fisheye.jpg");
    }
  }

  &__button {
    text-transform: uppercase;
    font-family: $alata;
    letter-spacing: 4px;
    border: 2px solid black;
    padding: 6px;
    width: 40%;
    margin: 2rem auto;
    text-align: center;

    @include breakpoint-up(large) {
      display: none;
    }
  }
}
