.hero {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-size: cover;

  &__mobile-nav {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    padding: 2rem 0;
  }

  &__box {
    width: 95%;
    margin: auto;
    text-transform: uppercase;
    padding: 7.624rem 0;
    // padding-bottom: calc(100% * 2 / 3);

    h1 {
      color: $white;
      font-family: $josefinSans;
      font-weight: 100;
      font-size: 2.625rem;
      border: 2px solid white;
      padding: 1.875rem;
      letter-spacing: 1.5px;
    }
  }

  &__desktop-nav {
    display: none;
  }
}
